body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none; 
    margin: 0; 
    padding: 0;     
    display: flex;
    gap: 8px;
    justify-content: center; 
}


nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

#po{
    max-width: 1100px; 
    margin: 15px auto; 
    padding: 35px;
    background-color: #ffffff; 
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
} 

nav ul li a:hover {
    text-decoration: underline;
}

.destaque {
    font-weight: 500;
    font-size: 1.2em;
    margin: 20px 0;
}

main {
    display: inline;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    padding: 24px;
}

.sessao_principal {
    margin-left: 10px;
    margin-bottom: 20px;
    border-left: 5px solid #a7bcff;
    background-color: #eaedf7;
    padding: 20px;
    max-width: 500px;
}

.sessao_principal h2{
    color: #333;
    margin-top: 0;
}

.sessao_principal ul{
    list-style-type: disc;
    padding-left: 20px;
}

.galeria {
    display: block;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}

aside{
    bottom: 0;
    text-align: center;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 10px;
}

table, th, td {
    border: 2px solid #ccc;
}

th{
    background-color: #b5f9f5;
}

table tr:nth-child(even) {
    background-color: #b5f9f5;
}

th, td {
    text-align: center;
    padding: 5px;
    text-align: center;
}

.info {
    font-size: 16px;
    color: #444;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

#cabecalho {
    bottom: 0;
    left: 0;
    background-color: #222;
    color: #eee;
    text-align: center;
    padding-bottom: 3px;
    width: 100%;
    padding: 2px;
}

#cabecalho_index{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #222;
    color: #eee;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    padding: 2px;
    max-height: 45px;
}

p a{
    color: #1f50d7;
    text-decoration: none;
}

section{
    margin: 20px;
}